html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Estilos para el navbar */
.navbar {
    background-color: #e6f7e6; 
    height:60px;
}

.navbar-nav .nav-item {
    margin-right: 90px; 
    font-size:1.2rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-family:Rockwell;
    font-weight:bold;
    font-size:1.8rem;
    margin-right: 125px;
    margin-left: 35px;
}

    .navbar-brand i {
        margin-right: 10px; 
    }

.mb-3 {
    margin-bottom: 0 !important;
}