@using RealEstateApp.Core.Domain.Enums
@using RealEstateApp.Core.Application.ViewModels.Offer
@model List<OfferViewModel>

@foreach (var offer in Model)
{
    <tr>
        <td>@offer.CreateDate</td>
        <td>@offer.Amount</td>
        <td>@offer.Status</td>
        <td>
            @if (offer.Status == OfferStatus.Pending)
            {
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acceptRejectModal" data-offer-id="@offer.Id">Responder</button>
            }
        </td>
    </tr>
}
